* {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -ms-user-select: none;
  user-select: none;
}
body {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
  text-align: center;
}
header {
  position: fixed;
  top: 0;
  height: 10vh;
  width: 100vw;
  display: flex;
  background: #FFF1E2;
  color: #699FB2;
}
header div, footer div{
  flex: 1;
  align-self: center;
}
section {
  position: absolute;
  width: 100vw;
  top: 10vh;
  height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
  background: #C9F1FF;
  color: #917B64;
}
footer {
  position: fixed;
  bottom: 0;
  height: 10vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  background: #FFF1E2;
  color: #699FB2;
}
#listing {
  padding: 0;
  margin: 0;
}
#listing li {
  list-style: none;
  border-bottom: 1px solid #B2987B;
  padding: 1.7vh;
  min-height: 8vh;
}
#nowPlaying {
  z-index: -1;
  opacity: 0;
  transition: all 1s;
}
#play {
  min-width: 10vw;
  min-height: 10vh;
  background: url("/img/play.svg") #699FB2 0 0 / 100% 100% no-repeat;
}
#play.playing {
  background-image: url("/img/pause.svg");
  background-position: 50% 0;
  background-size: 50% 100%;
}
.title, .album {
  display: block;
}
.artist {
  font-size: 80%;
  padding-right: 5px;
  font-weight: bold;
}
/*B2987B*/
/*FFF1E2*/
/*FFE5C9*/
/*699FB2*/
/*C9F1FF*/
