* {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -ms-user-select: none;
  user-select: none;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: purple;
}
header {
  position: fixed;
  top: 0;
  height: 10%;
  width: 100%;
  background: orange;
}
section {
  position: absolute;
  width: 100%;
  top: 10%;
  height: 80%;
  overflow-y: auto;
  overflow-x: hidden;
  background: cyan;
}
header nav, footer nav {
  height: 100%;
}
header nav > div {
  height: 100%;
  float: left;
  width: 33%;
  background: pink;
}
header nav > div:nth-child(2) {
  width: 34%;
}
header nav > div:first-child {
  background: red;
}
header nav > div:last-child {
  background: blue;
}
header nav > div > div {
  padding-top: 20px;
  width: 100px;
  margin: 0 auto;
  background: CornFlowerBlue;
  text-align: center;
}
footer {
  background: yellow;
  position: fixed;
  bottom: 0;
  height: 10%;
  width: 100%;
  overflow: hidden;
}
footer nav > div {
  float: left;
  width: 20%;
  height: 100%;
  background: pink;
}
footer nav > div > div {
  padding-top: 20px;
  width: 75px;
  margin: 0 auto;
  text-align: center;
  background: CornFlowerBlue;
}
#listing {
  padding: 0;
  margin: 0;
}
#listing li {
  list-style: none;
  border: 1px solid red;
  padding: 10px;
  text-align: center;
}
#nowPlaying {
  z-index: -1;
}
.title {
  display: block;
}
.artist {
  font-size: 80%;
  padding-right: 5px;
}

