body {
  font: 14px 'Open Sans', sans-serif;
  background: #69F;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

div#welcome img {
  margin-top: -50px;
  position: fixed;
  width: 70%;
  min-width: 1000px;
  z-index: -1;
}

thead tr td {
  color: white;
}

#controls {
  margin: 20px 0;
}

#controls progress {
  width: 200px;
}

#table_id {
  display: none;
}

p.error {
  color: red;
}