body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#controls {
  margin: 20px 0;
}

#controls progress {
  width: 200px;
}

p.error {
  color: red;
}